//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/theme/mixins";
@import "@material/shape/mixins";
@import "./variables";

//
// Public
//

@mixin mdc-card-fill-color($color) {
  @include mdc-theme-prop(background-color, $color);
}

@mixin mdc-card-outline($color, $thickness: $mdc-card-outline-width) {
  border: $thickness solid mdc-theme-prop-value($color);
}

@mixin mdc-card-shape-radius($radius, $rtl-reflexive: false) {
  @include mdc-shape-radius($radius, $rtl-reflexive);
}

@mixin mdc-card-media-aspect-ratio($x, $y) {
  &::before {
    // This clever trick brought to you by: http://www.mademyday.de/css-height-equals-width-with-pure-css.html
    margin-top: percentage($y / $x);
  }
}

//
// Private
//

@mixin mdc-card-container-layout_ {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@mixin mdc-card-actions-layout_($display: flex) {
  display: $display;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

@mixin mdc-card-media-aspect-ratio-base_ {
  &::before {
    display: block;
    content: "";
    float: left;
  }
}
