@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
// mdc-top-app-bar__navigation-icon
@import "@material/top-app-bar/mdc-top-app-bar";
@import "./card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/linear-progress/mdc-linear-progress";
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  --fgcolor: #000;
  --bgcolor: #f2f2f2;
  --mcolor: #fff;
  --link-color: #004c8c;
}

@media (prefers-color-scheme: dark) {
  html {
    --fgcolor: #f2f2f2;
    --bgcolor: #333;
    --mcolor: #222;
    --link-color: #2196f3;
    --mdc-theme-text-icon-on-background: rgb(255, 255, 255, 0.38);
  }
}

body {
  margin: 0;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  @extend .mdc-typography;
}

.mdi {
  font-size: 24px
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-ink-color(#575757);
  @include mdc-top-app-bar-icon-ink-color(#575757);
  @include mdc-top-app-bar-fill-color(var(--bgcolor));
}

@media (prefers-color-scheme: dark) {
  .mdc-top-app-bar {
    @include mdc-top-app-bar-ink-color(#f2f2f2);
    @include mdc-top-app-bar-icon-ink-color(#f2f2f2);
  }
}

.mdc-card {
  @include mdc-card-fill-color(var(--mcolor));
}

.post-card {
  height: min-content;
}

.main-content {
  max-width: 100em;
  margin: 0 auto;
}

.mdc-linear-progress__buffer {
    background-color: var(--mcolor);
}
