@import "@material/typography/mdc-typography";
@import "prismjs/themes/prism-okaidia";

$theme-color: #6200ee;

div.mermaid > svg {
  width: 100%;
}

/* body */

.outer-content {
  margin: 0 3%;
  margin-top: 10px;
  overflow: hidden;
}

.main-content {
  --card-gap: 0.5rem;
}

.slug-card {
  width: 100%;
  padding: 0 0.5rem;
  background-color: $theme-color;
  margin-bottom: var(--card-gap);
}

.main {
  padding: 0.5rem;
  margin-bottom: var(--card-gap);
}

.disqus-card {
  margin: var(--card-gap) 0;
}

.outline-card {
  margin-bottom: var(--card-gap);
}

.profile-card {
  padding: 10px;
  margin-bottom: var(--card-gap);
}

h2.social-icons {
  margin: 0;
}

h2.social-icons a {
  color: var(--link-color);
  margin-right: 6px;
}

.outline-card h1,
.profile-card h1 {
  @include mdc-typography(headline5);
  margin-top: 0;
  margin-bottom: 0;
}
.blog-slug {
  @include mdc-typography(subtitle1);
  color: #fff;
}

.my-footer {
  margin-top: 2em;
  margin-bottom: 1em;
  align-items: center;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  /* desktop-only style */

  .main-content {
    --card-gap: 0.8rem;
  }

  .outline-card,
  .my-footer,
  .profile-card {
    width: calc(25% - var(--card-gap));
    box-sizing: border-box;
    float: left;
    margin-right: var(--card-gap);
  }

  .slug-card {
    padding: 0 1rem;
  }

  .outer-main {
    float: right;
    width: 75%;
  }

  .main {
    padding: 1rem;
    box-sizing: border-box;
  }
}
